<% @tasks.each do |task| %>
<ul>
  <li><%= link_to task.title, task_path(task)  %> <%= link_to "[X]", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </li>
</ul>
<% end %>

<%= link_to "Add Task", new_task_path %>
